In [18]:
#Import Libraries
import pandas as pd
import numpy as np
import scipy.stats as stats

In [33]:
#Create DataFrame
data = {'Transactions Amount': [100, 150, 50, 100, 130, 120, 100, 85, 70, 150, 
                                150, 120, 50, 100, 100, 140, 90, 150, 50, 90, 
                                120, 100, 110, 75, 65]}
df = pd.DataFrame(data)
df

    Transactions Amount
0                   100
1                   150
2                    50
3                   100
4                   130
5                   120
6                   100
7                    85
8                    70
9                   150
10                  150
11                  120
12                   50
13                  100
14                  100
15                  140
16                   90
17                  150
18                   50
19                   90
20                  120
21                  100
22                  110
23                   75
24                   65

In [34]:
#Central Tendency
import pandas as pd

mean = df['Transactions Amount'].mean()
median = df['Transactions Amount'].median()

print("Mean : ", mean)
print("Median : ", median)

Mean :  102.6
Median :  100.0

In [35]:
#Tulis analisismu dari Central Tendency di sini
#Dari dataframe (jumlah transaksi) yang telah dibuat, rata-rata dari keseluruhan data (25 transaksi) adalah 102.6, angka ini
#adalah penjumlahan keseluruhan data dibagi banyaknya data. Nilai tengah dari keseluruhan data (median) adalah 100.

In [36]:
#Variability
import pandas as pd

var = df['Transactions Amount'].var()
std = df['Transactions Amount'].std()
minAndMax = df['Transactions Amount'].max() - df['Transactions Amount'].min()

print("Variance : ", var)
print("Std Deviasi : ", std)
print("Range : ", minAndMax)

quartiles = df['Transactions Amount'].quantile([0.25, 0.5, 0.75])

print("Quantile 0.25 : ", quartiles[0.25])
print("Quantile 0.5 : ", quartiles[0.5])
print("Quantile 0.75 : ", quartiles[0.75])

Variance :  1012.7499999999997
Std Deviasi :  31.82373328193912
Range :  100
Quantile 0.25 :  85.0
Quantile 0.5 :  100.0
Quantile 0.75 :  120.0

In [37]:
#Tulis analisismu dari Variability di sini
#Variasi dari keseluaruhan data terhadap rata-rata ada 1012.74 , Standar deviasi 31.82, perbedaan antara nilai maksimum dan
#nilai minimum dalam data adalah 100, quartile 1 yaitu 85, quartile 2 atau nilai tengah yaitu 100, dan quartile 3 yaitu 120.

In [38]:
#Define H0 and H1
#H0: Tidak ada perbedaan yang signifikan antara rata-rata penjualan sebelum dan setelah pelatihan. Dengan kata lain, rata-rata penjualan sebelum pelatihan sama dengan rata-rata penjualan setelah pelatihan.
#H1: Ada perbedaan yang signifikan antara rata-rata penjualan sebelum dan setelah pelatihan. Dengan kata lain, rata-rata penjualan setelah pelatihan tidak sama dengan rata-rata penjualan sebelum pelatihan.

In [39]:
#Define alpha = 0.05
alpha = 0.05

In [42]:
#Calculate t statistics and P-value
#Perform one sample t-test

sales_before = 100

from scipy.stats import ttest_1samp
t_statistic, p_value = ttest_1samp(df["Transactions Amount"], sales_before)

In [45]:
#statistic= , pvalue=
print("Statistic : ",t_statistic)
print("Pvalue : ", p_value)

Statistic :  0.4085001556802841
Pvalue :  0.6865284813438117

In [48]:
#Conclude with alpha and p-value
#Conclusion: 
if p_value < 0.05:
    print("Hipotesis nol (H0) ditolak. Rata-rata jumlah transaksi berbeda secara signifikan dari $100.")
else:
    print("Tidak cukup bukti untuk menolak hipotesis nol (H0). Rata-rata jumlah transaksi tidak berbeda secara signifikan dari $100.")

Tidak cukup bukti untuk menolak hipotesis nol (H0). Rata-rata jumlah transaksi tidak berbeda secara signifikan dari $100.

In [59]:
#Conclude with t statistics and critical region
#Find the critical region

from scipy.stats import t

critical_region = t.ppf(1 - alpha, df)

print("Critical Region : ", critical_region)

Critical Region :  1.7108820799094275

In [ ]:
#H1: Rata-rata jumlah transaksi setelah pelatihan tidak sama dengan $100

In [61]:
#Critical region result
if abs(t_statistic) > critical_region:
    conclusion = "Hipotesis nol (H0) ditolak. Terdapat perbedaan yang signifikan antara rata-rata jumlah transaksi setelah pelatihan dan $100."
else:
    conclusion = "Tidak cukup bukti untuk menolak hipotesis nol (H0). Tidak ada perbedaan yang signifikan antara rata-rata jumlah transaksi setelah pelatihan dan $100."
print(conclusion)

Tidak cukup bukti untuk menolak hipotesis nol (H0). Tidak ada perbedaan yang signifikan antara rata-rata jumlah transaksi setelah pelatihan dan $100.

In [ ]:
#Conclusion: 

Berdasarkan hasil pengujian terhadap  data pelatihan sales force dia atas, kesimpulan hasil analisa sebagai berikut:

1. Hipotesis Nol (H0): Hipotesis nol yang diuji adalah bahwa tidak ada perbedaan yang signifikan antara rata-rata jumlah transaksi sebelum dan setelah pelatihan.

2. Hipotesis Alternatif (H1): Hipotesis alternatif yang diuji adalah bahwa terdapat perbedaan yang signifikan antara rata-rata jumlah transaksi sebelum dan setelah pelatihan.

3. Analisis Statistik:

- Dilakukan uji t satu sampel untuk membandingkan rata-rata jumlah transaksi setelah pelatihan dengan nilai yang ditetapkan sebelumnya (dalam kasus ini, $100).
- Diperoleh nilai t-statistik sebesar 0.4085 dan nilai kritis sebesar 1.7109 pada tingkat signifikansi 5%.
- Karena nilai t-statistik lebih kecil dari nilai kritis, kita tidak memiliki cukup bukti untuk menolak hipotesis nol.


Jadi berdasarkan hasil tersebut dapat ditarik kesimpulan bahwa, tidak terdapat perbedaan yang signifikan antara rata-rata jumlah transaksi sebelum dan setelah pelatihan.
Pelatihan sales force tidak memberikan dampak yang signifikan terhadap peningkatan jumlah transaksi dalam jangka waktu yang diuji.
Dengan demikian, berdasarkan hasil pengujian, tidak merekomendasikan untuk melanjutkan atau mengulangi pelatihan sales force dengan metode yang sama, dan mungkin perlu mempertimbangkan strategi atau pendekatan yang berbeda untuk meningkatkan kinerja penjualan di masa mendatang.